[package]
name = "game-scanner"
version = "0.1.0"
authors = ["Matheus Albino <matheusalbino@users.noreply.github.com>"]
edition = "2018"
publish = false

[lib]
name = "libgamescanner"
bench = true
doc = true
crate-type = ["rlib", "cdylib"]

[[bench]]
name = "list"
harness = false

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
url = { version = "2.2.0" }
rusqlite = { version = "0.24.2", features = ["bundled"] }

[target.'cfg(target_os = "windows")'.dependencies]
case = { version = "1.0.0" }
directories = { version = "3.0.1" }
winreg = { version = "0.8.0" }

[dev-dependencies]
criterion = "0.1.2"