on:
  push:
    branches:
      - main

name: Release

jobs:

  cancel_duplicated_workflows:
    runs-on: ubuntu-latest

    steps:
      - uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

  github:
    runs-on: ubuntu-latest

    outputs:
      sha8: ${{ steps.sha8.outputs.value }}

    steps:
      - name: Get SHA8
        id: sha8
        run: echo "::set-output name=value::$(echo ${{ github.sha }} | cut -c1-8)"

  create_release:
    needs: github
    runs-on: ubuntu-latest

    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}

    steps:
      - uses: actions/checkout@v2

      - id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ needs.github.outputs.sha8 }}
        with:
          tag_name: ${{ env.VERSION }}
          release_name: ${{ env.VERSION }}
          draft: true
          prerelease: false

  release_assets:
    needs: [ github, create_release ]
    runs-on: ${{ matrix.config.os }}

    strategy:
      matrix:
        config:
          - os: ubuntu-latest
          - os: macos-latest
          - os: windows-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.4
        with:
          node-version: 12.x

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - run: |
          cd node
          npm ci

      - run: |
          cd node
          npm run build

      - run: |
          cd node
          tar -a -c -f out.zip native/index.node lib/* package.json examples/*

      - name: Upload release assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ASSET_NAME: game-scan.${{ needs.github.outputs.sha8 }}-${{ runner.os }}).zip
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_name: ${{ env.ASSET_NAME }}
          asset_path: node/out.zip
          asset_content_type: application/octet-stream
