on:
  pull_request:
    branches:
      - main
      - develop

name: Test

jobs:

  cancel_duplicated_workflows:
    runs-on: ubuntu-latest

    steps:
      - uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

  cargo_test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - macos-latest
          - windows-latest
        architecture:
          - x64

    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --package game-scanner

      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package game-scanner
        env:
          RUST_BACKTRACE: 1

      - name: cargo doc
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --package game-scanner --no-deps

      - name: cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --package game-scanner --lib --release

  node_test:
    needs: cargo_test
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - macos-latest
          - windows-latest
        architecture:
          - x64

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v3.1.0
        with:
          node-version: 12.x

      - run: |
          cd node
          npm ci
          npm run build
